* {
    font-family: monospace;
}

body {
    background-color: rgb(227, 221, 215);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #edeae0;
    border: 1px solid black;
    border-radius: 25px;
    padding: 16px;
    
}

.display {
    background-color: rgb(217, 244, 225);
    width: 98%;
    height: 150px;
    border: 1px solid black;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.previous-input {  
    height: 30px;
    font-size: 32px;
    padding: 8px;
    max-width: fit-content;
    overflow-wrap: break-word;
}

.current-input {
    height: 120px;
    font-size: 56px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0;
    padding: 8px;
}

.display, button {
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 4px;
    padding: 4px;
}

button {
    background-color: rgb(227, 220, 203);
    color: white;
    width: 90px;
    height: 90px;
    border: 1px solid black;
    font-size: 32px;
    color: rgb(27, 15, 4);
    transition-duration: 0.3s;
}

.operator, #percent, #decimal {
    background-color: rgb(244, 240, 232);
}

#equal {
    grid-column: span 2;
    width: 180px;
    margin: 1px;
}

#clear, #all-clear {
    background-color: rgb(255, 218, 224);
}



button:hover {
    cursor: pointer;
}

.operand:hover {
    background-color: rgb(230, 208, 153)
}

.operator:hover, #percent:hover, #decimal:hover {
    background-color: rgb(240, 220, 180);
}

#all-clear:hover, #clear:hover {
    background-color: rgb(250, 190, 200) !important;
}






