body {
    background-color: rgb(227, 221, 215);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #edeae0;
    border: 1px solid black;
    border-radius: 25px;
    padding: 16px;
    
}

.display {
    background-color: rgb(217, 244, 225);
    width: 98%;
    height: 150px;
    border: 1px solid black;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.previous-input {  
    font-size: 32px;
    padding: 8px;
}

.current-input {
    font-size: 64px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0;
    padding: 8px;
}

.display, button {
    border-radius: 10px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 4px;
    padding: 4px;
}


button {
    background-color: rgb(227, 220, 203);
    color: white;
    width: 90px;
    height: 90px;
    border: 1px solid black;
    font-size: 32px;
    color: rgb(27, 15, 4)
}

#equal {
    grid-column: span 2;
    width: 180px;
    margin: 1px;
}

#clear {
    background-color: rgb(255, 218, 224);
}






